<div class="app-container" *ngIf="screenBase64">
  <div class="app">
    <h2>Status: {{ status }}</h2>
    <div class="content">
      <div class="img-container">
        <img class="bot-image" [src]="'data:image/jpeg;base64,' + screenBase64" alt="Bot screen" class="bot-image" />
      </div>
      <div class="console-container">
        <div class="messages-container" #messagesContainer>
          <div class="messages" *ngFor="let message of messages" [ngClass]="{'bot-msg': message.from === 'Bot', 'user-msg': message.from === 'User'}">
            <span class="sender">{{ message.from }}:</span>
            <span class="text">{{ message.text }}</span>
          </div>
        </div>
        <div class="input-area">
          <input type="text" [(ngModel)]="userInput" placeholder="Escribe una respuesta..." (keyup.enter)="sendMessage()" />
          <button (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
